In [1]:
import pandas as pd
from src.constant import *

# Data Source

`movielens/1m-ratings`: This dataset contains 1,000,209 anonymous ratings of approximately 3,900 movies made by 6,040 MovieLens users who joined MovieLens. It is the largest dataset that contains demographic data.
Each user has rated at least 20 movies. Ratings are in whole-star increments. In demographic data, age values are divided into ranges and the lowest age value for each range is used in the data instead of the actual values.

`movielens/1m-movies`: This dataset contains data of approximately 3,900 movies rated in the 1m dataset.

# Load data
Download the MovieLens 1M dataset from [groupLens](https://grouplens.org/datasets/movielens/1m/)

In [3]:
movie_df = pd.read_csv("data/raw/ml-1m/movies.dat", delimiter='::', header=None, engine='python', encoding='latin-1')
movie_df.columns = MOVIE_COLUMN_NAMES
print(movie_df.shape)
movie_df.head()

(3883, 3)

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

## Rating
UserID::MovieID::Rating::Timestamp

- UserIDs range between 1 and 6040 
- MovieIDs range between 1 and 3952
- Ratings are made on a 5-star scale (whole-star ratings only)
- Timestamp is represented in seconds since the epoch as returned by time(2)
- Each user has at least 20 ratings

In [4]:
rating_df = pd.read_csv("data/raw/ml-1m/ratings.dat", delimiter='::', header=None, engine='python', encoding='latin-1')
rating_df.columns = RATING_COLUMN_NAMES
print(rating_df.shape)
rating_df.head()

(1000209, 4)

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

## User
All demographic information is provided voluntarily by the users and is
not checked for accuracy.  Only users who have provided some demographic
information are included in this data set.
- Gender is denoted by a "M" for male and "F" for female
- Age is chosen from the following ranges:
	*  1:  "Under 18"
	* 18:  "18-24"
	* 25:  "25-34"
	* 35:  "35-44"
	* 45:  "45-49"
	* 50:  "50-55"
	* 56:  "56+"

In [6]:
user_df = pd.read_csv("data/raw/ml-1m/users.dat", delimiter='::', header=None, engine='python', encoding='latin-1')
user_df.columns = USER_COLUMN_NAMES
# map occupation to occupation name
user_df[USER_COLUMN_NAMES[3]] = user_df[USER_COLUMN_NAMES[3]].map(OCCUPATION_MAP)
print(user_df.shape)
user_df.head()

(6040, 5)

   user_id gender  age            occupation zip_code
0        1      F    1          K-12 student    48067
1        2      M   56         self-employed    70072
2        3      M   25             scientist    55117
3        4      M   45  executive/managerial    02460
4        5      M   25                writer    55455

In [9]:
# join three tables
rating_df = rating_df.merge(user_df, on=USER_COLUMN_NAMES[0], how='left')
full_df = rating_df.merge(movie_df, on=MOVIE_COLUMN_NAMES[0], how='left')
print(full_df.shape)
full_df.head()

(1000209, 10)

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip_code,title,genres
0,1,1193,5,978300760,F,1,K-12 student,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,F,1,K-12 student,48067,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,F,1,K-12 student,48067,My Fair Lady (1964),Musical|Romance
3,1,3408,4,978300275,F,1,K-12 student,48067,Erin Brockovich (2000),Drama
4,1,2355,5,978824291,F,1,K-12 student,48067,"Bug's Life, A (1998)",Animation|Children's|Comedy

In [10]:
full_df[full_df[USER_COLUMN_NAMES[0]] == 1]

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip_code,title,genres
0,1,1193,5,978300760,F,1,K-12 student,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,F,1,K-12 student,48067,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,F,1,K-12 student,48067,My Fair Lady (1964),Musical|Romance
3,1,3408,4,978300275,F,1,K-12 student,48067,Erin Brockovich (2000),Drama
4,1,2355,5,978824291,F,1,K-12 student,48067,"Bug's Life, A (1998)",Animation|Children's|Comedy
5,1,1197,3,978302268,F,1,K-12 student,48067,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
6,1,1287,5,978302039,F,1,K-12 student,48067,Ben-Hur (1959),Action|Adventure|Drama
7,1,2804,5,978300719,F,1,K-12 student,48067,"Christmas Story, A (1983)",Comedy|Drama
8,1,594,4,978302268,F,1,K-12 student,48067,Snow White and the Seven Dwarfs (1937),Animation|Children's|Musical
9,1,919,4,978301368,F,1,K-12 student,48067,"Wizard of Oz, The (1939)",Adventure|Children's|Drama|Musical
10,1,595,5,978824268,F,1,K-12 student,48067,Beauty and the Beast (1991),Animation|Children's|Musical
11,1,938,4,978301752,F,1,K-12 student,48067,Gigi (1958),Musical
12,1,2398,4,978302281,F,1,K-12 student,48067,Miracle on 34th Street (1947),Drama
13,1,2918,4,978302124,F,1,K-12 student,48067,Ferris Bueller's Day Off (1986),Comedy
14,1,1035,5,978301753,F,1,K-12 student,48067,"Sound of Music, The (1965)",Musical
15,1,2791,4,978302188,F,1,K-12 student,48067,Airplane! (1980),Comedy
16,1,2687,3,978824268,F,1,K-12 student,48067,Tarzan (1999),Animation|Children's
17,1,2018,4,978301777,F,1,K-12 student,48067,Bambi (1942),Animation|Children's
18,1,3105,5,978301713,F,1,K-12 student,48067,Awakenings (1990),Drama
19,1,2797,4,978302039,F,1,K-12 student,48067,Big (1988),Comedy|Fantasy
20,1,2321,3,978302205,F,1,K-12 student,48067,Pleasantville (1998),Comedy
21,1,720,3,978300760,F,1,K-12 student,48067,Wallace & Gromit: The Best of Aardman Animatio...,Animation
22,1,1270,5,978300055,F,1,K-12 student,48067,Back to the Future (1985),Comedy|Sci-Fi
23,1,527,5,978824195,F,1,K-12 student,48067,Schindler's List (1993),Drama|War
24,1,2340,3,978300103,F,1,K-12 student,48067,Meet Joe Black (1998),Romance
25,1,48,5,978824351,F,1,K-12 student,48067,Pocahontas (1995),Animation|Children's|Musical|Romance
26,1,1097,4,978301953,F,1,K-12 student,48067,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
27,1,1721,4,978300055,F,1,K-12 student,48067,Titanic (1997),Drama|Romance
28,1,1545,4,978824139,F,1,K-12 student,48067,Ponette (1996),Drama
29,1,745,3,978824268,F,1,K-12 student,48067,"Close Shave, A (1995)",Animation|Comedy|Thriller
30,1,2294,4,978824291,F,1,K-12 student,48067,Antz (1998),Animation|Children's
31,1,3186,4,978300019,F,1,K-12 student,48067,"Girl, Interrupted (1999)",Drama
32,1,1566,4,978824330,F,1,K-12 student,48067,Hercules (1997),Adventure|Animation|Children's|Comedy|Musical
33,1,588,4,978824268,F,1,K-12 student,48067,Aladdin (1992),Animation|Children's|Comedy|Musical
34,1,1907,4,978824330,F,1,K-12 student,48067,Mulan (1998),Animation|Children's
35,1,783,4,978824291,F,1,K-12 student,48067,"Hunchback of Notre Dame, The (1996)",Animation|Children's|Musical
36,1,1836,5,978300172,F,1,K-12 student,48067,"Last Days of Disco, The (1998)",Drama
37,1,1022,5,978300055,F,1,K-12 student,48067,Cinderella (1950),Animation|Children's|Musical
38,1,2762,4,978302091,F,1,K-12 student,48067,"Sixth Sense, The (1999)",Thriller
39,1,150,5,978301777,F,1,K-12 student,48067,Apollo 13 (1995),Drama
40,1,1,5,978824268,F,1,K-12 student,48067,Toy Story (1995),Animation|Children's|Comedy
41,1,1961,5,978301590,F,1,K-12 student,48067,Rain Man (1988),Drama
42,1,1962,4,978301753,F,1,K-12 student,48067,Driving Miss Daisy (1989),Drama
43,1,2692,4,978301570,F,1,K-12 student,48067,Run Lola Run (Lola rennt) (1998),Action|Crime|Romance
44,1,260,4,978300760,F,1,K-12 student,48067,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
45,1,1028,5,978301777,F,1,K-12 student,48067,Mary Poppins (1964),Children's|Comedy|Musical
46,1,1029,5,978302205,F,1,K-12 student,48067,Dumbo (1941),Animation|Children's|Musical
47,1,1207,4,978300719,F,1,K-12 student,48067,To Kill a Mockingbird (1962),Drama
48,1,2028,5,978301619,F,1,K-12 student,48067,Saving Private Ryan (1998),Action|Drama|War
49,1,531,4,978302149,F,1,K-12 student,48067,"Secret Garden, The (1993)",Children's|Drama
50,1,3114,4,978302174,F,1,K-12 student,48067,Toy Story 2 (1999),Animation|Children's|Comedy
51,1,608,4,978301398,F,1,K-12 student,48067,Fargo (1996),Crime|Drama|Thriller
52,1,1246,4,978302091,F,1,K-12 student,48067,Dead Poets Society (1989),Drama

In [8]:
rating_df[rating_df[RATING_COLUMN_NAMES[0]] == 1]

    user_id  movie_id  rating  timestamp
0         1      1193       5  978300760
1         1       661       3  978302109
2         1       914       3  978301968
3         1      3408       4  978300275
4         1      2355       5  978824291
5         1      1197       3  978302268
6         1      1287       5  978302039
7         1      2804       5  978300719
8         1       594       4  978302268
9         1       919       4  978301368
10        1       595       5  978824268
11        1       938       4  978301752
12        1      2398       4  978302281
13        1      2918       4  978302124
14        1      1035       5  978301753
15        1      2791       4  978302188
16        1      2687       3  978824268
17        1      2018       4  978301777
18        1      3105       5  978301713
19        1      2797       4  978302039
20        1      2321       3  978302205
21        1       720       3  978300760
22        1      1270       5  978300055
23        1       527       5  978824195
24        1      2340       3  978300103
25        1        48       5  978824351
26        1      1097       4  978301953
27        1      1721       4  978300055
28        1      1545       4  978824139
29        1       745       3  978824268
30        1      2294       4  978824291
31        1      3186       4  978300019
32        1      1566       4  978824330
33        1       588       4  978824268
34        1      1907       4  978824330
35        1       783       4  978824291
36        1      1836       5  978300172
37        1      1022       5  978300055
38        1      2762       4  978302091
39        1       150       5  978301777
40        1         1       5  978824268
41        1      1961       5  978301590
42        1      1962       4  978301753
43        1      2692       4  978301570
44        1       260       4  978300760
45        1      1028       5  978301777
46        1      1029       5  978302205
47        1      1207       4  978300719
48        1      2028       5  978301619
49        1       531       4  978302149
50        1      3114       4  978302174
51        1       608       4  978301398
52        1      1246       4  978302091